Flask                       
huggingface-hub          
Jinja2              
joblib          
numpy                  
pandas                
pillow                   
pip                       
scikit-learn             
torch                
transformers             
simpletransformers
